# Ignore everything in the root except the "wp-content" directory.
public/*
!public/wp-content/
!public/wp-config.php
 
# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
public/wp-content/*
!public/wp-content/plugins/
!public/wp-content/themes/

# Ignore system files, misc.
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
env_*

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject

# Dreamweaver added files
_notes
dwsync.xml

# Folders to ignore
.hg
.svn
.CVS
