[submodule "wp-content/plugins/acf"]
	path = wp-content/plugins/acf
	url = git://github.com/elliotcondon/acf.git
[submodule "wp-content/plugins/WPThumb"]
	path = wp-content/plugins/WPThumb
	url = git://github.com/humanmade/WPThumb.git
[submodule "wp-content/plugins/gjmaps"]
	path = wp-content/plugins/gjmaps
	url = git@github.com:GunnJerkens/gjmaps.git
[submodule "wp-content/plugins/uploads-by-proxy"]
	path = wp-content/plugins/uploads-by-proxy
	url = git@bitbucket.org:brainstormmedia/uploads-by-proxy.git
