# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!.gitmodules
!wp-content/
!wp-config.php
!init.sh
!db_sync.sh
!README.md
 
# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/

# Ignore system files, misc.
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
env_local
evn_stage
db_sync.sh

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject

# Dreamweaver added files
_notes
dwsync.xml

# Folders to ignore
.hg
.svn
.CVS
